*{margin:0; padding:0;}
a{text-decoration:none; color:#3e3e3e;}
img{display:inline-block; border:0;}
ul,ol,dl{list-style:none;}
body{font:12px/22px 'Microsoft Yahei',Helvetica,Arial,STXihei,SimSun,sans-serif; color:#3e3e3e; background:#fff;}
.l{float:left;}
.r{float:right;}

@font-face{font-family:'iconfont';src:url('../font/iconfont.eot');src:url('../font/ticonfont.eot?#iefix') format('embedded-opentype'),url('../font/iconfont.woff') format('woff'),url('../font/iconfont.ttf') format('truetype'),url('https://www.sasa.com/public/app/b2c/statics/fonts/iconfont.svg#uxiconfont') format('svg');}
@font-face{font-family:iconfonts;src:url("../font/iconfonts.eot");src:url("../font/iconfonts.eot?#ie9") format("embedded-opentype"),url("../font/iconfonts.woff") format("woff"),url("../font/iconfonts.ttf") format("truetype"),url("https://www.sasa.com/public/app/b2c/statics/fonts/iconfonts.svg#webfontMFqI76bT") format("svg");font-weight:normal;font-style:normal;}
.page{width:1090px; margin:0 auto;}
.clearfix{  display: block; visibility: hidden; height: 0; overflow: hidden; content: ""; clear: both;}
.clb:after{visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.icon{font-family: "iconfont" !important; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0px; -moz-osx-font-smoothing: grayscale; line-height: 1; color: #c69a62; font-size: 20px;}
.ico{font-family: iconfonts,sans-serif;}

/*-------------------    sidebar     ----------------*/
#sidebar{width: 38px; height:100%; position: fixed; right: 0; top: 0; z-index: 528;}
#sidebar .sidebar-box{
	 background: #4c4c4c; 
	height: 100%;
	position: absolute;
	top: 0;
	width: 40px;
}
#sidebar .sidebar-box .box1{position: absolute; top: 50%; left: 0; margin-top: -190px;}
#sidebar .mui-tab{position: relative; left: 0; top:2px; width: 38px; height: 38px; line-height: 38px; cursor: pointer; text-align: center; z-index: 9;}
#sidebar .mui-tab:hover{background:#ec3e7d;}
#sidebar .mui-tab .sidebar-link{display:block;}
#sidebar .mui-tab .mui-tab-tip{display: inline; position: absolute; right: 38px; top: 0px; width: 90px; height: 38px; line-height: 38px; text-align: center; color: #ddd; background-color: #494949; -webkit-box-shadow: 0 0 50px rgba(0,0,0,.2); -moz-box-shadow: 0 0 5px rgba(0,0,0,.2); box-shadow: 0 0 50px rgba(0,0,0,.2);}
#sidebar .mui-tab .mui-tab-tip .tip-arr{position: absolute; width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 16px; font-family: "\5b8b\4f53";  top: 10px; right: -8px; color: #494949;}
#sidebar .box1 .sidecart{padding: 15px 0; border-bottom: 1px solid #666; border-top: 1px solid #666; margin: 10px auto; height: 90px; text-align: center;}
#sidebar .box1 .sidecart .sidecart-text{width: 28px; margin: 0 auto; text-align: center; font-weight: normal; line-height: 15px;}
#sidebar .box1 .sidecart .sidecart-text a{color: #fff; font-size: 12px; display: block; width: 20px; margin: 0 auto;}
#sidebar .box1 .sidecart .sidecart-text b{background-color: #ec3e7d; line-height: 13px; padding: 0 3px; min-width: 12px; display: inline-block; border-radius: 10px; text-align: center; font-weight: bold;}
#sidebar .box1 .sidecart .sidecart-text b span{color: #fff; font-size: 9px; font-weight: normal; display: inline-block; margin-bottom: 2px;}
#sidebar .box1 .sidecart:hover{background:#ec3e7d;}
#sidebar .box1 .sidecart .cart-cont{display: none; font-size:14px; padding-left: 0; overflow:hidden; height: 100%; width: 300px; text-align: left; position: fixed; top: 0; right: 38px; background: #fff; box-shadow: -0.3em 0 0.4em 0.04em rgba(0,0,0,.2); }
#sidebar .box1 .sidecart .cart-conttitle{position: relative; text-align: left; border-bottom: 1px solid #eaeaea; height: 40px; line-height: 40px; font-size: 14px; padding-left: 14px;}
#sidebar .box1 .sidecart .btn-close{position: absolute; cursor: pointer; outline:none; border: 0; background: none; top: 50%; padding: 0; margin-top: -10px; right: 12px;}
#sidebar .box1 .sidecart .btn-close .icon{font-size: 20px; color: #333;}
#sidebar .box1 .sidecart .sidecart-empty{padding: 20px; text-align: center;}


#sidebar .box2{position: absolute; bottom: 0; left: 0;}
#sidebar .box2 .mui-tab:first-child{top:0;}
#sidebar .box2 .sidebar-link .tmp-icon{display: block; background: url('../img/livechat.png') no-repeat 0 center; width: 20px; height: 38px; margin: 0 auto;}
#sidebar .box2 .sideup{padding: 15px 0 0 0; text-align: center;}
#sidebar .box2 .sideup a{font-size: 10px; font-weight: normal; line-height: 10px; color: #fff;}
#sidebar .box2 .sideup .icon{font-size:8px; display:block;}
#sidebar .box2 .icon{}

/*-------------------    topbar     ----------------*/
#topbar{height:32px; line-height:32px; background:#f2f2f2; color:#6c6c6c; border-bottom:1px solid #e5e5e5;}
#topbar .topbar{height:32px;}
#topbar .topbar #login-bar span a{color:#ec3e7d; text-decoration:underline;}
#topbar .topbar #login-bar span a:first-child{margin-left:10px;}
#topbar .topbar #login-bar span.center{display:inline-block; width:20px; text-align:center;}
#topbar .topbar #member-bar li{display:inline-block; float:left; height:32px; position:relative; z-index:305;}
#topbar .topbar #member-bar li:hover{background:#fff;}
#topbar .topbar #member-bar li dl{display:block; background: #fff; position: absolute; top: 32px; right: 0; padding: 5px 10px 10px 10px; width: 86px; z-index: 10; box-shadow: 0px 4px 8px rgba(0,0,0,.2);}
#topbar .topbar #member-bar li dl#count-dl a{text-align: left; line-height: 25px; padding-left: 10px; display: block;}
#topbar .topbar #member-bar li dl#count-dl a:hover{color:#ec3e7d;}
#topbar .topbar #member-bar li dt{float: right; width: 86px; padding: 0 0 0 15px;}
#topbar .topbar #member-bar li dt a{display: block; text-align: left; line-height: 26px; color: #888; padding:0;}
#topbar .topbar #member-bar li dt a:hover{color:#ec3e7d;}
#topbar .topbar #member-bar li dt a img{height:12px; width:16px; margin-right:6px;}
#topbar .topbar #member-bar li dl#focus dd{float: left; width: 110px; height:100px; text-align: left; padding-top: 6px;}
#topbar .topbar #member-bar li dl#focus dd img{width:100px; height:100px;}

#topbar .topbar #member-bar li a{color: #6c6c6c; display:block; font-weight:normal; padding:0 12px;}
#topbar .topbar #member-bar li a .icon{color:#ec3e7d; margin-right: 3px; font-size: 16px;}
#topbar .topbar #member-bar li a i.arr{font-size:9px; color:#949597; margin-left:3px; }

/*-------------------    header-main     ----------------*/
#header-main{height:95px;}
#header-main .header-main{height:95px; position:relative;}
#header-main .header-main #logo{ width: 300px; height: 45px; position: absolute; top: 21px; overflow: hidden;}
#header-main .header-main #search{ position: absolute; left: 400px; top: 21px; overflow:hidden;}
#header-main .header-main #search #search-input{ background-color: #ec3e7d; width: 346px; height: 36px; float: left; position: relative;}
#header-main .header-main #search #search-input input{ border: none; font-size:14px; font-family: inherit; outline:none; width: 330px; height: 24px; line-height: 24px; padding: 3px 5px; font-size: 14px; position: absolute; left: 3px; top: 3px;}
#header-main .header-main #search .search-btn{border: none; font-size:14px; font-family: inherit; outline:none; color: white; text-align: center; background-color: #ec3e7d; width: 90px; height: 36px; line-height: 36px; float: left; cursor: pointer; text-shadow: none; padding: 0;}
#header-main .header-main #search #hot-keyword a{color: #a2a3a5; border-left: 1px solid #a2a3a5; line-height: 14px; height: 14px; display: inline-block; padding: 0 10px; margin-left: -10px; margin-right: 10px; transition: color .4s linear;}
#header-main .header-main #search #hot-keyword a:hover{color:#ec3e7d;}
#header-main .header-main #topcartbar #cart-bar{float: right; text-align:center; margin-top: 20px; padding-left: 30px; background: url(../img/icons.png) no-repeat #f5f5f5; border: 1px solid #eee; width: 100px; height: 32px; line-height: 32px; position: relative; z-index: 206; cursor: pointer;}
#header-main .header-main #topcartbar a{color:#3e3e3e; font-size:14px;}
#header-main .header-main #topcartbar .cartdetail{width: 300px; overflow: hidden; background-color: white; z-index: 9997; position: absolute; top: 33px; right: 0; border: 1px solid #ddd; box-shadow: 2px 2px 10px rgba(0,0,0,.2);}
#header-main .header-main #topcartbar .empty{padding: 10px 60px; line-height: 25px; font-size:14px; text-align:left;}

/*-------------------    nav-bar     ----------------*/
#nav-bar{height: 45px; line-height: 45px; background-color: #ec3e7d;}
#nav-bar .nav-list li{float:left;}
#nav-bar .nav-list li a{color: #fff; font-size: 16px; font-weight: bold; display: block; padding: 0 20px;}
#nav-bar .nav-list li a .icon{font-size: 16px; color:#fff;}
#nav-bar .nav-list li:hover{background:#a72839;}
#nav-bar ul.r{text-align: left; overflow: hidden; height: 45px;}
#nav-bar ul.r li{display: inline-block; color: #fff; overflow: hidden; float: left; white-space: nowrap;}
#nav-bar ul.r li img{vertical-align: middle; max-height: 20px; max-width: 22px; margin-right: 10px;}
#nav-bar ul.l li{position:relative;}
#nav-bar ul.l .nav-lstbox{position: absolute; top: 45px; left: 0; width: 440px; height: 280px; background: #fff; border: 1px solid #bababa; border-top: none; z-index: 105; cursor: pointer;}
#nav-bar ul.l .nav-arr{color: #eee; position: absolute; top: -28px; left: 40px;}
#nav-bar ul.l .nav-arr .icon{font-size:16px; color:#eee;}
#nav-bar ul.l .nav-title{background: #eee; height: 42px; line-height: 42px; color: #ec3e7d; font-size: 14px; padding-left: 20px; display: block; clear: both; width: 420px; overflow: hidden;}
#nav-bar ul.l .nav-brandtext{width: 210px; padding: 0 10px 0 20px;}
#nav-bar ul.l .nav-brandtext ul{overflow: hidden; padding: 0px; width: 210px; height: 200px; margin: 4px 0;}
#nav-bar ul.l .nav-brandtext ul li{float: inherit;}
#nav-bar ul.l .nav-brandtext ul a{color: #333; font-size: 13px; line-height: 25px; display: block; font-weight: normal; padding: 0; text-align: left;}
#nav-bar ul.l .nav-brandtext ul li:hover{background:#fff;}
#nav-bar ul.l .nav-brandtext ul li:hover a{color:#000;}
#nav-bar ul.l .nav-brandtext>a{width: 210px; text-align: center; padding:0; margin: 0 auto; color: #333; display: block; border-top: 1px dotted #ddd; font-size: 14px; line-height: 30px;}

#nav-bar ul.l .nav-brandpic{width: 199px; padding-left: 1px; overflow: hidden;}
#nav-bar ul.l .nav-brandpic li{width: 98px; height: 59px; border-top: 1px dotted #ddd; border-left: 1px dotted #ddd; overflow: hidden; float: left; padding: 0; margin-top: -1px;}
#nav-bar ul.l .nav-brandpic li img{width: 98px; height: 60px;}
#nav-bar ul.l .nav-brandpic li:hover{background:#fff;}

/*-----------------------    nav-category      ---------------------*/
#nav-category{height:40px; background:#222;}
#nav-category .all-category{background: #333; float: left; position: relative; width: 252px; height: 40px; z-index: 100; font-size: 12px;}
#nav-category .all-category .category-handle{color: #F5f5f5; font-size: 15px; position: absolute; font-weight: bold; width: 240px; padding-left: 16px; top: 0; height: 39px; line-height: 37px; cursor: pointer;}
#nav-category .all-category .category-box{position: absolute; top: 40px;}
#nav-category .all-category .category-box ul{position: relative; height: 420px; background: #f9f8f8;}
#nav-category .all-category .category-box .cat-item{width:240px; padding: 6px 0 0 12px;}
#nav-category .all-category .category-box .cat-item .img{width: 20px; height: 20px; float: left;}
#nav-category .all-category .category-box .cat-item .cat-text{font-weight: bold; padding: 0px 0px 0px 28px;}
#nav-category .all-category .category-box .cat-item .cat-list{overflow: hidden; width: 200px; padding: 0 0px 5px 0; margin: 0 0 0px 28px; border-bottom: 1px solid #e7e7e7;}
#nav-category .all-category .category-box .cat-item .cat-list a{float: left; font-size: 12px; color: #555; font-weight: normal; margin: 0px 8px 0px 0px; display: block; white-space: nowrap; cursor: pointer;}
#nav-category .all-category .category-box .cat-item .other-box{display: none; position:absolute; top:0; left:252px; width: 105px; height: 372px; background: #fff; filter: alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9; padding: 25px; box-shadow: inset 8px 0px 8px -10px rgba(0,0,0,.3),8px 0px 8px -10px rgba(0,0,0,0.3);}
#nav-category .all-category .category-box .cat-item .other-box dl{clear: both; overflow: hidden; margin-bottom: 25px;}
#nav-category .all-category .category-box .cat-item .other-box dt{font-weight: bold; padding: 0px 5px 0px 0px; margin-bottom: 10px; font-size: 14px;}
#nav-category .all-category .category-box .cat-item a:hover{color:#ec3e7d;}
#nav-category .tj-category{margin-left: 20px; float: left; height: 40px; line-height: 40px; position: relative;}
#nav-category .tj-category li{float: left; display: inline-block; margin-right: 15px; z-index:10; position:relative;}
#nav-category .tj-category li a{color:#f5f5f5; padding: 0 10px; cursor: pointer; font-size: 14px; font-weight: normal; display: block;}
#nav-category .tj-category li:hover a{color:#ec3e7d;}
#nav-category .tj-category li#magic-line{display: none;position: absolute; z-index:9; left: 0px; bottom: 1px; width: 76px; height: 2px; border-bottom: 2px solid #c69a62;}


/*-------------------    footer     ----------------*/
footer{overflow:hidden;}
footer #help{background-color: #fff; border-top: 4px solid #c69a62; min-height: 209px; padding: 30px 0; height:345px;}
footer #help .btom-code{width: 135px; max-height: 126px; float: right; margin-top: 20px; text-align: center;}
footer #help .btom-logo{width: 198px; float: left;}
footer #help .btom-logo h3{background: url('../img/btom-logo.png') no-repeat; width: 180px; height: 60px; margin: 20px 0 25px 0;}
footer #help .help-item{width: 90px; float: left; height: 230px; margin-left: 30px; margin-top: 20px; overflow: hidden;}
footer #help .help-item dl{line-height: 2em;}
footer #help .help-item dl dt{color:#ec3e7d; font-size:15px; font-weight: bold;}
footer #help .help-item li{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; font-size: 14px; line-height: 25px;}
footer #help .help-item li a:hover{color:#000;}
footer #help div.page{height:250px;}
footer #help #botm-link{text-align:center; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; padding: 15px 0;}
footer #help #botm-link a{display: inline-block; padding: 0 15px; color: #c69a62;}
footer #help #botm-link a:hover{color:#000;}
footer #over{text-align: center; line-height: 1.8; margin-top: 20px;}
footer #over span{font-size: 13px; line-height: 26px; color:#999;}
footer #over div.page{height:26px;}
